@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --docsearch-primary-color: rgb(84, 104, 255);
  --ifm-color-primary: #1672eb;
  --docsearch-text-color: rgb(28, 30, 33);
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: rgb(150, 159, 175);
  --docsearch-container-background: rgba(101, 108, 133, 0.8);
  --docsearch-logo-color: rgba(84, 104, 255);

  /* modal */
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: rgb(245, 246, 247);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5),
    0 3px 8px 0 rgba(85, 90, 100, 1);

  /* searchbox */
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-background: rgb(235, 237, 240);
  --docsearch-searchbox-focus-background: #fff;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);

  /* hit */
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: rgb(68, 73, 80);
  --docsearch-hit-active-color: #fff;
  --docsearch-hit-background: #fff;
  --docsearch-hit-shadow: 0 1px 3px 0 rgb(212, 217, 225);

  /* key */
  --docsearch-key-gradient: linear-gradient(
    -225deg,
    rgb(213, 219, 228) 0%,
    rgb(248, 248, 248) 100%
  );
  --docsearch-key-shadow: inset 0 -2px 0 0 rgb(205, 205, 230),
    inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);

  /* footer */
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #fff;
  --docsearch-footer-shadow: 0 -1px 0 0 rgb(224, 227, 232),
    0 -3px 6px 0 rgba(69, 98, 155, 0.12);
}

/* Darkmode */

html[data-theme='dark'] {
  --docsearch-text-color: rgb(245, 246, 247);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: rgb(21, 23, 42);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgb(44, 46, 64),
    0 3px 8px 0 rgb(0, 3, 9);
  --docsearch-searchbox-background: rgb(9, 10, 17);
  --docsearch-searchbox-focus-background: #000;
  --docsearch-hit-color: rgb(190, 195, 201);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: rgb(9, 10, 17);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    rgb(86, 88, 114) 0%,
    rgb(49, 53, 91) 100%
  );
  --docsearch-key-shadow: inset 0 -2px 0 0 rgb(40, 45, 85),
    inset 0 0 1px 1px rgb(81, 87, 125), 0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-footer-background: rgb(30, 33, 54);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: rgb(255, 255, 255);
  --docsearch-muted-color: rgb(127, 132, 151);
}

.DocSearch-Button {
  align-items: center;
  background: var(--docsearch-searchbox-background);
  border: 0;
  border-radius: 40px;
  color: var(--docsearch-muted-color);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin: 0 0 0 16px;
  padding: 0 8px;
  user-select: none;
}

.DocSearch-Button:hover,
.DocSearch-Button:active,
.DocSearch-Button:focus {
  background: var(--docsearch-searchbox-focus-background);
  box-shadow: var(--docsearch-searchbox-shadow);
  color: var(--docsearch-text-color);
  outline: none;
}

.DocSearch-Button-Container {
  align-items: center;
  display: flex;
}

.DocSearch-Search-Icon {
  stroke-width: 1.6;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--docsearch-text-color);
}

.DocSearch-Button-Placeholder {
  font-size: 1rem;
  padding: 0 12px 0 6px;
}

.DocSearch-Button-Keys {
  display: flex;
  min-width: calc(2 * 20px + 2 * 0.4em);
}

.DocSearch-Button-Key {
  align-items: center;
  background: var(--docsearch-key-gradient);
  border-radius: 3px;
  box-shadow: var(--docsearch-key-shadow);
  color: var(--docsearch-muted-color);
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  position: relative;
  padding: 0px 0px 2px 0px;
  border: 0px;
  top: -1px;
  width: 20px;
}

@media (max-width: 768px) {
  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --aa-detached-modal-max-width: 60% !important;
  --aa-detached-modal-max-height: 100% !important;
}

.aa-DetachedContainer--modal.exisitng-results {
  min-height: 700px !important;
  height: 60% !important;
}

.aa-PanelLayout {
  height: 100% !important;
}

.aa-Panel {
  overflow: visible !important;
}

.kapa-ai-button {
  right: 50px;
  top: -48px;
  background-color: var(--ifm-color-primary) !important;
}

.search-results-container {
  min-height: calc(700px - 66px);
  height: calc(60vh - 64px);
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .kapa-ai-button {
    right: 95px;
  }

  .search-results-container {
    min-height: auto;
    height: calc(100vh - 66px);
    overflow: scroll;
  }
}

mark {
  background-color: inherit !important;
  color: rgb(59 130 246) !important;
}

html[data-theme="dark"] mark {
  color: #38bdf8 !important;
}

.aa-Autocomplete {
  width: 100% !important;
}

html[data-theme="dark"] .aa-DetachedSearchButton {
  background: none !important;
  border: 1px solid #7f8497 !important;
}

.aa-DetachedContainer--modal {
  border-radius: 12px !important;
}

.aa-Form {
  border-radius: 3px !important;
}

.aa-DetachedSearchButton {
  background: #f9fafd !important;
  border: 1px solid #c1c6dd !important;
  border-radius: 3px !important;
  font-family: inherit;
  font-weight: 400 !important;
  height: 36px !important;
  justify-content: flex-start !important;
  padding: 0 8px !important;
  user-select: none !important;
  width: 100% !important;
}

.resultsItems a:hover {
  color: unset;
}

html[data-theme="dark"] .resultsItems a:hover {
  color: white;
}

.aa-DetachedSearchButtonIcon {
  color: gainsboro !important;
  width: 20px !important;
}

.aa-DetachedSearchButtonPlaceholder, .aa-DetachedSearchButtonQuery {
  padding-left: 10px !important;
}

html[data-theme="dark"] .aa-DetachedSearchButtonPlaceholder, html[data-theme="dark"] .aa-DetachedSearchButtonQuery, html[data-theme="dark"] .aa-SubmitIcon {
  color: gainsboro !important;
}
html[data-theme="dark"] .aa-DetachedContainer {
  background-color: #0d1a22 !important
}

.aa-InputWrapper input {
  font-size: 19.2px !important;
}

.aa-SubmitIcon {
    width: 24px !important;
    height: 24px !important;
    max-height: 50px !important;
    margin-top: 3px !important;
}

html[data-theme="dark"] .aa-Form, html[data-theme="dark"] .aa-InputWrapper input {
  background-color: #2e2f3a !important;
  color: white !important;
}

html[data-theme="dark"] .aa-InputWrapper input ::placeholder, html[data-theme="dark"] .aa-DetachedCancelButton {
  color: white !important;
}

.aa-DetachedCancelButton {
  display: none !important;
}

@media (max-width: 679px) {
  .aa-DetachedCancelButton {
    display: block !important;
  }
}

.DocSearch-Button-Keys {
  display: flex;
  min-width: calc(2 * 20px + 2 * 0.4em);
}

.DocSearch-Button-Key {
  align-items: center;
  background: var(--docsearch-key-gradient);
  border-radius: 3px;
  box-shadow: var(--docsearch-key-shadow);
  color: var(--docsearch-muted-color);
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  position: relative;
  padding: 0px 0px 2px 0px;
  border: 0px;
  top: -1px;
  width: 20px;
}
